/* Structure */
.example-container {
  position: relative;
  padding: 5px;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 30%;
  padding:10px;
}

.example-fullength-width {
  width: 80%;
  padding:25px;
}

.example-full-width:nth-last-child() {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}

.example-card {
width:100%;
}
